@import "src/assets/styles/variables";

.nav {
  display: flex;
  list-style: none;
  gap: 40px;

  .link {
    display: block;
    font-family: $f-base;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    margin-right: 50px;
  }
}
@media (max-width: $breakpoint-large) {
}
