@import "src/assets/styles/variables";

.nav {
  display: flex;
  list-style: none;
  gap: 40px;

  @media (min-width: 961px) and (max-width: 1200px) {
    gap: 20px;
  }

  @media (max-width: 960px) {
    display: none;
  }

  .link {
    display: block;
    font-family: $f-base;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    margin-right: 50px;
  }
}