@import "src/assets/styles/variables";
@import "src/assets/styles/mixin";

.card {
  display: grid;
  font-family: $f-base;
  grid-template-columns: 0.9fr 1.2fr 0.8fr;
  user-select: none;
  width: 100%;
  align-items: center;
  padding: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  box-sizing: border-box;
  transition: 0.3s;

  .imgWrap {
    overflow: hidden;
    border-radius: 6px;
    max-height: 120px;
    max-width: 120px;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
  }

  &:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.04);
    border-color: white;

    .imgWrap {
      .fadeProduct {
        visibility: hidden;
        opacity: 0;
      }

      .imgProduct {
        scale: 1.1;
      }
    }
  }

  .detailProduct {
    word-break: break-word;

    .productName {
      text-decoration: none;
      font-size: 16px;
      color: $gray;
      font-weight: 500;
      cursor: pointer;
    }

    .productName:hover {
      color: $blue;
    }

    .groupPrice {
      font-size: 20px;
      font-weight: 700;

      .oldPrice {
        margin-right: 4px;
        color: #d6d6d6;
        text-decoration: line-through;
      }

      .newPrice {
        margin: 4px;
      }
    }

    .groupRate {
      display: flex;
      align-items: center;

      span {
        font-size: 12px;
      }
    }
  }

  .groupButton {
    display: flex;
    flex-direction: column;
    justify-self: end;

    button {
      font-family: $f-base;
      border-radius: 6px;
      border: 1px solid #efefef;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 14px;
      background-color: transparent;
      transition: 0.2s;
    }

    .buyButton {
      padding: 10px 18px;
    }

    .wishButton {
      padding: 8px 18px;

      .redIcon {
        color: red;
      }
    }

    button:hover {
      background-color: $blue;
      border-color: $blue;
      color: white;
    }
  }
}