@import "src/assets/styles/variables";

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  .left-login {
    position: relative;
    width: 33%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__title {
      width: 100%;
      display: flex;
      justify-content: center;

      p {
        width: 55%;
        color: #292930;
        font-size: calc(1.7vw + 5px);
        padding-top: 22vh;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: 1px;
        word-break: break-word;
      }
    }

    .logo-login {
      width: 30%;
      position: absolute;
      top: 9vh;
      left: 8vw;
      cursor: pointer;
    }
  }

  .right-login {
    width: 67%;
    overflow-y: auto;

    &__singUp {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 60px 100px;
      gap: 35px;

      span {
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: $f-base;
      }
    }

    .login-form {
      max-width: 450px;
      margin: auto;
      padding: 10px 30px 50px 30px;
      box-sizing: border-box;

      .login-action {
        display: flex;
        justify-content: space-between;
      }

      h2 {
        font-size: 28px;
        letter-spacing: 1px;
      }

      .detail {
        color: #999;
        font-size: 14px;
        padding-bottom: 40px;
        font-family: $f-base;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}