@import "src/assets/styles/variables";

.dropdown {
  width: max-content;
  font-family: $f-base;
  position: relative;

  .link {
    padding: 0px 5px 10px;
    text-decoration: none;
  }

  .link.text {
    color: $gray;
  }

  .link.primary {
    color: #292930;
    font-weight: 700;
    font-size: 15px;
  }

  .menu {
    position: absolute;
    inset: 0px auto auto 0px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
    margin: 0;
    padding: 0;
    border-radius: 4px;
    transform: translate(0px, 35px);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 100;

    li {
      font-size: 14px;
      vertical-align: middle;
      list-style-type: none;
      cursor: pointer;
      width: 80px;
      margin: 12px;
      line-height: 30px;
      padding: 2.5px 10px;
      border-radius: 6px;
      transition: 0.3s;
    }

    li:hover {
      background-color: $red;
      color: white;
    }
  }
}

.dropdown:hover {
  .menu {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 24px);
  }
}