@import "src/assets/styles/variables";
.iconawesome {
  display: flex;
  align-items: center;
  font-family: $f-base;
  font-size: 14px;
  i {
    font-size: 12px;
    color: white;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
  }
  &.red span {
    color: $red;
    font-weight: bold;
  }
  &.red i {
    background-color: $red;
  }
  &.purple span {
    color: #8c71db;
    font-weight: bold;
  }
  &.purple i {
    background-color: #8c71db;
  }
}
