@import "src/assets/styles/variables";

.allProductPage {
  font-family: $f-base;

  .titlePage {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    padding: 45px 0;
    border-bottom: 2px solid $light;
  }

  .content {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;

    .filterWrap {
      flex-basis: 22.5%;
    }

    .products {
      flex-basis: 75%;

      .loopProduct {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
        align-items: baseline;
      }
    }
  }

  .buttonWrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .button {
      color: $gray;
    }
  }
}