@import "src/assets/styles/variables";

.cart {
  font-family: $f-base;
  min-height: 50vh;
  position: relative;

  @media (max-width: 560px) {
    overflow-x: auto;
  }


  .cartTable {
    width: 100%;
    text-align: left;
    margin-bottom: 80px;

    .headerRow {
      padding: 18px 15px;
      font-size: 20px;
    }

    .ProductRow {
      font-size: 20px;

      @media (max-width: 560px) {
        font-size: 16px;
      }

      .checkbox {
        height: 18px;
        width: 18px;
      }

      td {
        padding: 15px;
      }

      .checkBoxRow {
        padding: 15px 15px 15px 0px;
      }

      .Price,
      .totalPrice {
        color: $gray;
        font-weight: 500;
      }

      .orderQuantity {
        padding-left: 25px;
      }
    }

    .nameRow {
      display: flex;
      align-items: center;
      gap: 30px;

      .imgwrap {
        max-width: 80px;
        max-height: 80px;
        position: relative;

        img {
          border-radius: 10px;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      span {
        font-size: 20px;
        word-break: break-word;
        font-weight: 500;
        position: relative;
        cursor: pointer;
        transition: 0.3s;

        @media (max-width: 960px) {
          font-size: 16px;
        }

        @media (max-width: 870px) {
          font-size: 0px;
        }
      }

      span:hover {
        color: $blue;
      }
    }
  }

  .titleCart {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;

    @media (max-width: 300px) {
      padding-top: 50px;
    }

    span {
      color: $blue;
      font-size: 14px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }

  .orderWrap {
    position: relative;
    background-color: #f9f3f0;
    padding: 40px;
    width: 350px;
    border-radius: 6px;
    left: 100%;
    transform: translateX(-100%);
    font-size: 16px;
    margin: 40px 0px;

    @media (max-width: 560px) {
      width: 250px;
      font-size: 12px;
      transform: translateX(0);
      left: 50%;
    }

    .order {

      .subtotalOrder,
      .shipping,
      .total {
        display: flex;
        justify-content: space-between;
        padding: 18px 0px;
        border-bottom: 1px solid #dee2e6;
      }

      h3 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 30px;
      }

      .shipping {
        .selectedGroup {
          display: flex;
          flex-direction: column;
          letter-spacing: 0.2px;
          gap: 10px;

          label {
            display: flex;

            input {
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }
          }
        }
      }

      .total {
        .totalPrice {
          font-size: 20px;
          color: $blue;
          font-weight: bold;
        }
      }

      .orderButton {
        margin-top: 30px;
        width: 100%;
      }
    }
  }

  .noCart {
    text-align: center;
    margin: 40px;

    @media (max-width: 300px) {
      padding-top: 50px;
    }
  }
}