@import "src/assets/styles/variables";

.groupDesc {
  font-family: $f-base;
  position: relative;
  background-color: #f9f3f0;
  margin: 80px -4.6vh 0;
  padding: 60px 0px;

  @media (min-width: 1250px) {
    margin: 80px -16.1vh 0;
  }

  .slide,
  .descContent {
    margin: 0 4.6vh;

    @media (min-width: 1250px) {
      margin: 0 16.1vh;
    }
  }

  .slide {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    margin-bottom: 60px;

    @media (max-width: 330px) {
      justify-content: space-between;
      gap: 0px
    }

    span {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      color: $gray;
      cursor: pointer;

      @media (max-width: 380px) {
        font-size: 20px;
      }
    }

    span:hover {
      color: $blue;
    }

    span::after {
      content: "";
      position: absolute;
      background-color: $blue;
      font-size: 16px;
      height: 2px;
      width: 100%;
      bottom: -1px;
      left: 0;
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.4s, opacity 0.4s;
      opacity: 0;
    }

    span:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
      background-color: $blue;
      opacity: 1;
    }

    span.active {
      color: $blue;
    }

    span.active::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  .descContent {
    .description {
      display: none;
      animation: fadeIn 0.3s ease-in-out;

      .groupText {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 485px) {
          justify-content: flex-start;
          gap: 10px;

          .leftDesc {
            margin-bottom: 15px;
          }
        }

        .leftDesc,
        .rightDesc {
          flex-basis: 49%;
        }
      }

      .bottomDesc {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: 50px -30px 0px;

        li {
          margin: 0;
          padding: 15px 30px;
          font-size: 20px;
          font-weight: 500;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background-color: white;
            border-radius: 50%;

            img {
              max-width: 30px;
            }
          }
        }
      }
    }

    .titleDesc {
      font-size: 20px;
      margin: 0 0 20px;
    }

    .textDesc {
      margin: 0;
      font-size: 16px;
      color: $gray;
    }

    .reviewWrap {
      display: none;
      animation: fadeIn 0.3s ease-in-out;

      .reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 800px) {
          gap: 50px;
          justify-content: center;

          .comment {
            order: 2;
            flex-basis: 100%;
          }

          .writeComment {
            order: 1;
            width: 100%;
          }
        }

        .comment {
          flex-basis: 45%;
          overflow: auto;
          margin-top: 30px;

          @media (max-width: 800px) {
            flex-basis: 100%;
          }

          .titleDesc {
            margin-bottom: 30px;
          }

          .singleComment {
            display: flex;

            gap: 20px;

            .imgContainer {
              max-width: 60px;
              max-height: 60px;

              @media (max-width: 390px) {
                max-width: 50px;
                max-height: 50px;

              }

              @media (max-width: 330px) {
                max-width: 40px;
                max-height: 40px;
              }

              @media (max-width: 300px) {
                max-width: 30px;
                max-height: 30px;
              }

              @media (max-width: 280) {
                max-width: 25px;
                max-height: 25px;
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }

            .commentText {
              .groupStar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5px 0 10px;

                span {
                  font-size: 18px;
                  font-weight: 550;
                }

                .star {
                  margin: 0;
                  transform: scale(0.9);
                }
              }
            }
          }
        }

        .writeComment {
          display: flex;
          flex-direction: column;
          flex-basis: 49%;

          @media (max-width: 800px) {
            flex-basis: 100%;
          }

          .textDesc {
            margin-bottom: 30px;
          }

          .ratingGroup {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 30px;

            .ratingTitle {
              font-size: 16px;
              color: $gray;
            }

            .ratingTitle::after {
              content: "*";
              color: red;
            }

            .star {
              display: flex;
              padding: 0;
              list-style: none;

              li {
                margin: 0px 2px 0px;
                cursor: pointer;

                .fullColor {
                  color: #ffdc60;
                  animation: scaleAnimation 0.3s ease-in-out;
                }
              }

              li:hover {
                i {
                  color: #ffdc60;
                }
              }
            }
          }

          .textareaWrap {
            position: relative;
            margin-bottom: 30px;

            label {
              color: $gray;
              position: absolute;
              z-index: 1px;
              top: -10px;
              left: 20px;
              font-size: 14px;
              font-family: $f-base;
              font-weight: 600;
              background-color: #f9f3f0;
              padding: 0px 8px;
              cursor: pointer;
            }

            #textarea {
              background-color: transparent;
              padding: 20px 20px;
              min-height: 160px;
              width: 100%;
              font-family: $f-base;
              border-color: #ccc;
              border-radius: 6px;
              transition: 0.5s;
              resize: none;
              box-sizing: border-box;
            }

            textarea::placeholder {
              font-family: $f-base;
              font-size: 14px;
              color: #ccc;
            }

            textarea:focus {
              outline: none;
              border-color: $blue !important;
            }
          }

          .groupInput {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .inputComment {
              flex-basis: 47%;

              input {
                padding: 16px 20px;
                background-color: transparent !important;
              }

              label {
                background-color: #f9f3f0;
              }
            }
          }

          .buttonComment {
            align-self: flex-start;
          }
        }
      }
    }

    .contenActive {
      display: block;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scaleAnimation {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1.3);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}