@import "src/assets/styles/variables";

.cateName {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    padding: 45px 0;
    border-bottom: 2px solid $light;
}

.catePage {
    .loopProduct {
        padding-top: 80px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
        align-items: baseline;

        @media (max-width: 1200px) {
            margin-left: 4%;
        }

        @media (max-width: 960px) {
            margin-left: 12%;
        }

        @media (max-width: 830px) {
            margin-left: 8%;
        }

        @media (max-width: 675px) {
            margin-left: 28%;
        }

        @media (max-width: 500px) {
            margin-left: 22%;
        }

        @media (max-width: 440px) {
            margin-left: 10%;
        }

        @media (max-width: 390px) {
            margin-left: 5%;
        }

        @media (max-width: 320px) {
            margin-left: -3%;
        }

        .cardCategory {
            @media (max-width: 340px) {
                a {
                    max-width: 220px;
                    max-height: 220px;
                }
            }
        }

    }
}

.noProduct {
    font-size: 36px;
    text-align: center;
}