@import "src/assets/styles/variables";
@import "src/assets/styles/mixin";

.modalWrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  overflow: auto;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .modal {
    position: relative;
    background-color: white;

    border-radius: 5px;
    top: 135px;
    opacity: 0;
    height: 80%;
    transform: translateX(-50%) scale(0);
    left: 49.5%;
    transition: 0.3s;
    overflow: hidden;

    @media (min-width: 960px) {
      width: 900px;
    }

    @media (min-width: 1030px) {
      width: 970px;
    }

    @media (min-width: 1200px) {

      width: 1140px;
    }


    @media (min-width: 1350px) {
      width: 1290px;
    }

    .headerModal {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 65px;
      border-bottom: 1px solid #dee2e6;

      .close {
        margin-right: 30px;
      }
    }

    .children {
      padding: 30px;
    }
  }

  &.show .modal {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

@media (max-height: 800px) {
  .modalWrap {
    z-index: 999;

    .modal {
      height: 670px;
      transform: translateX(-50%) scale(0);
      top: 20px;
    }

    &.show .modal {
      transform: translateX(-50%) scale(1);
    }
  }
}