@import "src/assets/styles/variables";

.modalWrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  overflow: auto;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .modal {
    position: relative;
    background-color: white;
    margin: 0px 16vh;
    height: 80%;
    border-radius: 5px;
    top: 135px;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
    overflow: hidden;

    .headerModal {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 65px;
      border-bottom: 1px solid #dee2e6;

      .close {
        margin-right: 30px;
      }
    }

    .children {
      padding: 30px;
    }
  }

  &.show .modal {
    transform: scale(1);
    opacity: 1;
  }
}

// @media (min-width: 1200) {
//   .modalWrap .modal {
//     width: 1291px;
//     top: 150px;
//     transform: translateX(100px);
//   }
// }

@media (max-height: 800px) {
  .modalWrap {
    z-index: 999;

    .modal {
      height: 670px;
      transform: scale(0);
      top: 20px;
    }

    &.show .modal {
      transform: scale(1);
    }
  }
}