@import "src/assets/styles/variables";
@import "src/assets/styles/mixin";

.card {
  display: flex;
  flex-direction: column;
  font-family: $f-base;
  user-select: none;
  max-width: max-content;
  max-height: max-content;

  .imgWrap {
    overflow: hidden;
    border-radius: 6px;
    max-height: 300px;
    max-width: 300px;
    position: relative;
    cursor: pointer;
    @include respond-maxsize($breakpoint-large, 250px, 250px);

    img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }

    .fadeProduct {
      visibility: visible;
      opacity: 1;
    }

    .imgOption {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
    }

    .button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, 0);
    }

    &:hover {
      .fadeProduct {
        visibility: hidden;
        opacity: 0;
      }

      .imgProduct {
        scale: 1.1;
      }

      .imgOption {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &:hover .button {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
    transform: translate(-50%, -30px);
  }

  .productName {
    text-decoration: none;
    font-size: 16px;
    color: $gray;
    font-weight: 500;
    margin: 20px 0px 10px;
    cursor: pointer;
    width: 300px;
    @include respond-maxsize($breakpoint-large, 250px);
  }

  .productName:hover {
    color: $blue;
  }

  .groupPrice {
    font-size: 20px;
    font-weight: 700;

    .oldPrice {
      margin-right: 4px;
      color: #d6d6d6;
      text-decoration: line-through;
    }

    .newPrice {
      margin: 4px;
    }
  }
}