@import "src/assets/styles/variables";

.main {
  position: relative;
  font-family: $f-base;

  .category {
    padding-top: 80px;
  }

  .products {
    padding: 80px 0px;
  }

  .products {
    .loopProduct {
      padding-top: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 30px;
      align-items: baseline;
    }

    .buttonWrap {
      margin-top: 70px;
      display: flex;
      justify-content: center;

      Button {
        color: $gray;
      }
    }
  }
}