@import "src/assets/styles/variables";

.header-top {
  display: flex;
  justify-content: space-between;

  .quick-link,
  .dropdown-top {
    display: flex;
    gap: 20px;

    @media (max-width: 280px) {
      font-size: 12px;
    }

    >* {
      padding: 0;
      cursor: pointer;
      color: $gray;
      text-decoration: none;
    }

    .item {
      font-family: $f-base;
      margin-right: 30px;
    }
  }

  .quick-link a:hover {
    color: $blue;
  }
}

.header-top.dark {
  background-color: #292930;

  .quick-link,
  .dropdown-top {
    a {
      color: #c2c2cc;

      i {
        color: #c2c2cc !important;
      }
    }
  }
}