.groupbtn {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 9px;

  span {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    width: 40px;
    height: 40px;
    color: black;
    line-height: 40px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    transition: 0.3s;

    .redIcon {
      color: red;
    }
  }

  span:hover i {
    animation: buttonSlide 0.4s;
  }

  @keyframes buttonSlide {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    40% {
      transform: translateY(-5px);
      opacity: 0;
    }

    80% {
      transform: translateY(5px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.3s;
    background-color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.06);
  }

  span:hover::after {
    width: 48px;
    height: 48px;
  }
}