@import "src/assets/styles/variables";
@import "src/assets/styles/mixin";

.header {
  font-family: $f-base;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 8px 0px;

  .headertop {
    padding: 0 15px;
  }

  .space-headbar {
    height: 90px;
  }
}

.headbar-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 25px;

  .headerbarWrap {
    height: 90px;
    position: sticky;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    margin: 0px 15px;
    z-index: 99;

    .header-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-radius: 10px;
      height: 80px;
      width: 100%;
      padding: 0px 40px;


      .header-brand {
        max-width: 150px;

        img {
          vertical-align: middle;
          max-width: 130px;



          @media (max-width: 330px) {
            max-width: 90px;
          }

          @media (max-width: 280px) {
            max-width: 50px;
          }
        }
      }
    }
  }
}

@media (min-width: 200px) {
  .headbar-container {
    .headerbarWrap {
      transform: scale(0.7);
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: 290px) {
  .headbar-container {
    .headerbarWrap {
      transform: scale(0.7);

    }
  }
}

@media (min-width: 360px) {
  .header {
    .headertop {
      margin: 0px 10%;
    }
  }

  .headbar-container {
    .headerbarWrap {
      transform: scale(0.75);

    }
  }
}

@media (min-width: 400px) {
  .headbar-container {
    .headerbarWrap {
      transform: scale(0.85);
    }
  }
}

@media (min-width: 500px) {
  .headbar-container {
    .headerbarWrap {
      transform: scale(0.95);
    }
  }
}



@media (min-width: 600px) {
  .header {
    .headertop {
      margin: 0px 5%;
    }
  }

  .headbar-container {

    .headerbarWrap {
      transform: scale(1);

      .header-bar {
        margin: 0px 5%;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    .headertop {
      margin: 0px 12%;
    }
  }

  .headbar-container {
    .headerbarWrap {
      .header-bar {
        margin: 0px 12%;
      }
    }
  }
}

@media (min-width: 960px) {
  .header {
    .headertop {
      margin: 0px 5%;
    }
  }

  .headbar-container {
    .headerbarWrap {
      .header-bar {
        margin: 0px 5%;
      }
    }
  }
}

@media (min-width: 1350px) {
  .header {
    .headertop {
      margin: 0px 0px;
      padding: 0 0px;
    }
  }

  .headbar-container {
    .headerbarWrap {
      margin: 0px 0px;

      .header-bar {
        margin: 0px 0px;
      }
    }
  }
}