@import "src/assets/styles/variables";

.slideWrap {
  overflow: hidden;
  margin: 0 -15px;

  .slide {
    position: relative;
    justify-content: flex-start;
    display: flex;
    left: 0;
    padding: 30px 0px 50px 15px;
    transition: left 0.5s;

    div {
      display: inline-block;
      width: 20%;
    }

    a {
      position: relative;
      width: 160px;
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 500;
      }
    }

    a::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid #f0f0f0;
      box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.04);
      transition: 0.4s ease-out;
      border-radius: 5px;
    }

    a:hover::after {
      transform: scale(1.1);
      box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.1);
    }
  }
}