body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}
#root {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}
