@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
$f-base: "DM Sans", sans-serif;
$red: #ff497c;
$black: #292930;
$blue: #3577f0;
$gray: #777;

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1208px;
