@import "src/assets/styles/variables";

.wrap {
  display: flex;
  justify-content: flex-start;
  font-family: $f-base;

  .slideGroup {
    display: flex;
    flex-basis: 59.95%;
    user-select: none;
    z-index: 1;

    .sildeList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-right: 30px;
      margin: 2px;

      .slideItem {
        width: 72px;
        height: 72px;
        object-fit: contain;
        border-radius: 10px;
        margin-bottom: 25px;
        cursor: pointer;
        border: 2px solid transparent;
        transition: 0.2s;
      }

      .slideItem.activeSlide {
        border: 2px solid $blue;
      }

      .slideItem:hover {
        border: 2px solid $blue;
      }
    }

    .sliderWrap {
      width: 76.9%;
      overflow: hidden;
      position: relative;

      .slider {
        display: flex;
        position: absolute;
        justify-content: flex-start;
        width: calc(100% * 4);
        gap: 45px;
        transition: 0.5s;

        .imgWraper {
          flex-basis: calc(100% / 4);
          border-radius: 6px;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 40%;
    z-index: 1;

    .startWrap {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 5px;

      .reviewNum {
        font-size: 16;
        color: $gray;
        margin: 0;
      }
    }

    h1 {
      width: 100%;
      font-size: 36px;
      font-weight: 700;
      margin-top: 0;
    }

    h1.modal {
      font-size: 28px;
    }

    .price {
      font-size: 24px;
      font-weight: 550;
      margin-bottom: 24px;
    }

    .groupCheck {
      list-style-type: none;
      padding: 0;
      margin: 0px 0px 20px;

      li {
        font-family: $f-base;
        font-size: 16px;
        color: $blue;
        font-weight: 500;
        line-height: 24px;
      }

      i {
        padding-right: 15px;
      }
    }

    .desc {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 1.7;
      color: $gray;
      margin: 0 0 25px;
    }

    // remember turn to component
    .color {
      display: flex;
      align-items: center;
      margin: 0 0 25px;

      .colorTitle {
        margin: 0;
        font-size: 20px;
        width: 114px;
        vertical-align: middle;
        font-weight: 500;
      }

      .groupColor {
        ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin: 0;

          li {
            cursor: pointer;
            width: 21px;
            height: 21px;
            text-align: center;
            vertical-align: middle;
            margin: 5px;
          }
        }
      }

      .dotWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 21px;
        height: 21px;
        border: 2px solid transparent;
        transition: 0.3s;

        .colorDot {
          display: block;
          width: 11px;
          height: 11px;
          border-radius: 50%;
        }

        &.red {
          &.active {
            border: 2px solid red;
          }

          .colorDot {
            background-color: red;
          }
        }

        &.blue {
          &.active {
            border: 2px solid skyblue;
          }

          .colorDot {
            background-color: skyblue;
          }
        }

        &.black {
          &.active {
            border: 2px solid black;
          }

          .colorDot {
            background-color: black;
          }
        }
      }
    }

    .groupbutton {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .count {
        flex-basis: 130px;
      }

      .wish {
        z-index: 1 !important;
        position: relative;
        border: 2px solid #cbd3d9;
        padding: 15px 16px 10px;
        border-radius: 6px;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
        color: #777;
        transition: 0.3s;

        &:hover {
          border-color: $blue;
          color: white;
        }
      }

      .wish::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        top: 0;
        left: 0;
        transform: scale(0.8);
        background-color: $blue;
        opacity: 0;
        transition: 0.3s;
        visibility: hidden;
        z-index: -1;
        border-radius: 6px;
      }

      .wish:hover::after {
        transform: scale(1.2);
        opacity: 1;
        visibility: visible;
        border-radius: 6px;
      }

      Button {
        flex-grow: 1;
        margin: 0px 5%;
      }
    }
  }
}

@media (min-width: 1500px) {
  .sliderWrap {
    height: 83vh;

    .slider {
      height: 75%;
    }
  }

}